

# Visual Studio ile ilgili dosyalarý ignore et
.vs/
*.user
*.suo
*.cache
*.csproj.user
*.sln.docstates

# Bin ve obj klasörlerini ignore et
bin/
obj/

# Derleme zamanýnda oluþan dosyalar
*.exe
*.dll
*.pdb
*.log
*.pyc
*.cache
*.zip


publish/

# IDE ve iþletim sistemi dosyalarý
.DS_Store
Thumbs.db