<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="~/img/about-img.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Hakkımızda</div>
                <h1 class="mb-4">Geleceğin Teknoloji Liderlerini Yetiştiriyoruz</h1>
                <p class="mb-4">
                    Biz, 4-7 yaş arası çocuklara özel olarak tasarlanmış eğlenceli ve öğretici robotik kodlama programları sunuyoruz. Amacımız, çocukların erken yaşta teknolojiyi anlamalarını sağlamak, yaratıcı düşünmelerini desteklemek ve problem çözme yeteneklerini geliştirmektir. Eğitimlerimiz, çocukların yaş ve gelişim düzeylerine uygun olarak oyun temelli bir yaklaşımla hazırlanmıştır.
                    Velilerimiz için ise çocuklarının dijital dünyaya güvenle adım atmasını sağlayan bir rehber olmayı hedefliyoruz. Eğitimlerimizde şeffaflık, güven ve çocuklarınızın gelişimi için özveri temel prensiplerimizdir.
                </p>
               
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Yaş Gruplarına Özel Eğitim</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Oyun Tabanlı Öğrenme</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Yapay Zeka Destekli Robotlar</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Güvenli ve Eğitici Ortam</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Teknoloji ve Yaratıcılık</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Problem Çözme Becerileri</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Velilerle Şeffaf İletişim</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                    @* <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a> *@
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->