<!-- Case Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="mb-4">Kodlama Dünyasından Haberler</h1>
        </div>
        <div class="row g-4">

            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/project-2.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Yapay Zeka</small>
                        <h5 class="lh-base text-white mb-3">
                            ROBOTİK KODLAMA VE YAPAY ZEKA: Geleceğin Anahtarı !
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/project-1.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Robotik Kodlama</small>
                        <h5 class="lh-base text-white mb-3">
                            ROBOTIK KODLAMA İLE AKILLI EVLER: ÇOCUKLAR KENDİ YAPAY ZEKALI CIHAZLARINI GELİŞTİREBİLİR Mİ?
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/project-3.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Geleceğin Meslekleri</small>
                        <h5 class="lh-base text-white mb-3">
                            ÇOCUKLAR İÇIN GELECEĞIN MESLEKLERI: 2040’TA HANGI İŞLER ÖNE ÇIKACAK?
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="~/img/about-img.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Biyomimikri </small>
                        <h5 class="lh-base text-white mb-3">
                            ÇOCUKLAR İÇİN BİYOMİMİKRİ: DOĞADAN İLHAM ALAN TEKNOLOJİLER
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case End -->