@using (Html.BeginForm("CKEditor", "Home", FormMethod.Post))
{
    <label for="editor">Metin Giriniz:</label>
    <textarea id="editor" name="editorContent"></textarea>

    <br />
    <button type="submit">Gönder</button>
}

@if (ViewBag.Message != null)
{
    <h3>Girilen İçerik:</h3>
    <div>@Html.Raw(ViewBag.Message)</div>
}


@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.0/classic/ckeditor.js"></script>


    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageUpload'],
                ckfinder: {
                    uploadUrl: '/Home/UploadImage'
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>

}