<style type="text/css">

    .span-hizmet {
        text-align: left;
        margin-top: 10px;
    }

    .hizmet-row {
        margin-bottom: 20px;
    }

    .hizmet-row2 {
        margin-bottom: 50px;
        border-radius: 5px;
        background-color: white;
        padding-top: 10px;
    }

</style>



<!-- Service Start -->
<div class="container-fluid bg-light">

    <div class="container py-5">

        <div class="row g-4 align-items-center hizmet-row2">

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-center text-center rounded">

                        <h1>Eğitimlerimiz</h1>
                        <p>
                           
                        </p>

                    </div>

                </div>

            </div>


        </div>

        <br />

        <div class="row g-5 align-items-center">

            <div class="row hizmet-row">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Anaokulları ve İlkokullar İçin Robotik Kodlama ve STEM Eğitimi</h5>

                        <p class="span-hizmet">•4-11 yaş grubu için temel ve ileri seviye robotik ve STEM uygulamaları</p>
                        <p class="span-hizmet">•Tale Bot, Süper Doc Robot ve LEGO Essential, Spike, Prime ile yönlendirme ve komut öğrenimi</p>
                        <p class="span-hizmet">•Eğlenceli ve oyunlaştırılmış öğrenme deneyimi</p>
                        <p class="span-hizmet">•Scratch ve Python tabanlı kodlama eğitimi</p>
                        <p class="span-hizmet">•Sensörler ve motorlar ile interaktif uygulamalar</p>
                      
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Bireysel ve Grup Kodlama Dersleri</h5>

                        <p class="span-hizmet">•	Çocuklar için birebir veya grup dersleri</p>
                        <p class="span-hizmet">•	Oyun programlama, algoritma geliştirme ve robot projeleri</p>
                        <p class="span-hizmet">•	Kişiye özel eğitim planlaması</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                
            </div>

            <div class="row hizmet-row">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Online ve Yüz Yüze Kodlama Eğitimleri</h5>

                        <p class="span-hizmet">•	Esnek ve erişilebilir eğitim seçenekleri</p>
                        <p class="span-hizmet">•	Dijital platformlar üzerinden interaktif eğitimler</p>
                        <p class="span-hizmet">•	Yüz yüze atölyelerle uygulamalı öğrenme</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3"> Oyun ve Animasyon Kodlama Eğitimi (Scratch ile Programlama)</h5>

                        <p class="span-hizmet">•	Scratch kullanarak oyun ve animasyon geliştirme</p>
                        <p class="span-hizmet">•	Karakter hareketleri, interaktif öğeler ve ses efektleri ekleme</p>
                        <p class="span-hizmet">•	Algoritmik düşünme becerisi kazandırma</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>

            </div>

            <div class="row hizmet-row">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3"> Dijital Okuryazarlık ve Güvenli İnternet Kullanımı Eğitimi</h5>

                        <p class="span-hizmet">•	Çocuklara ve ebeveynlere yönelik bilinçlendirme eğitimleri</p>
                        <p class="span-hizmet">•	Dijital kimlik, veri güvenliği ve sosyal medya farkındalığı</p>
                        <p class="span-hizmet">•	Siber zorbalık ve çevrimiçi tehditlere karşı koruma stratejileri</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                

            </div>
        </div>
    </div>
</div>
<!-- Service End -->