
<style type="text/css">

    form label{
        font-weight:bold;
    }

    form .form-group{
        margin-top:15px!important;
    }

</style> 
   
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header mb-5">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">Techbot Academy</div>
                <h1 class="display-4 text-white mb-4 animated slideInRight">Kodla, Keşfet, İnşa Et</h1>
                <p class="text-white mb-4 animated slideInRight">
                    Robotik dünyasına adım at ve kendi projelerini hayata geçir! Sitemizde eğlenceli kodlama dersleri, interaktif aktiviteler ve yaratıcı robot yapım rehberleri seni bekliyor. Hayal gücünü kullan, yeni şeyler keşfet ve kendi robotlarını inşa ederek geleceğin mühendisleri arasında yerini al. Her adımda öğrenmenin keyfini çıkar ve teknolojiyle dost ol!
                </p>
                <a href="#" class="btn btn-warning py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight" data-bs-toggle="modal" data-bs-target="#kayitModal"><b>ÜCRETSİZ Deneme Ders Kaydı</b></a>
                <a href="/Home/Communication" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">İletişim</a>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <!--<img class="img-fluid" src="img/hero-img.png" alt="">-->
                <!--<img class="img-fluid" src="robot/1.png" alt="" style="border-radius: 30px 30px 0px 0px; width: 425px;">-->
                <img class="img-fluid" src="https://st5.depositphotos.com/9999814/64553/i/450/depositphotos_645537928-stock-photo-futuristic-robot-artificial-intelligence-huminoid.jpg" alt="" style="border-radius: 30px 30px 0px 0px; width: 800px;">
                <!--<img class="img-fluid" src="https://robokido.tokotema.com/wp-content/uploads/2023/08/happy-classmates-throwing-hands-in-air-and-rejoici-2022-12-16-19-13-41-utc-1-1024x422.jpg" alt="">-->
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Full Screen Search Start -->
<div class="modal fade" id="kayitModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Ücretsiz Deneme Dersi Kayıt Bilgileri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="frmRandevu">
                    <div class="row">
                        <div class="form-group">
                            <label>Velinin Adı Soyadı</label>
                            <input type="text" class="form-control" name="VeliAdSoyad" id="tbAdSoyad" />
                        </div>
                        <div class="form-group">
                            <label>Velinin Telefonu</label>
                            <input type="text" class="form-control" name="VeliTelefon" id="tbTelefon" />
                        </div>
                        <div class="form-group">
                            <label>Öğrencinin Adı Soyadı</label>
                            <input type="text" class="form-control" name="OgrenciAdSoyad" id="tbOgrenciAdSoyad" />
                        </div>
                        <div class="form-group">
                            <label>Öğrencinin Doğum Tarihi</label>
                            <input type="date" class="form-control" name="OgrenciDogumTarihi" id="tbOgrenciDogumTarihi" />
                        </div>
                        <div class="form-group">
                            <label>Öğrencinin Doğum Tarihi</label>
                            <input type="text" class="form-control" name="OgrenciSinifi" id="tbOgrenciSinif" />
                        </div> 
                        <div class="form-group">
                            <label>Açıklama</label>
                            <textarea cols="7" class="form-control" name="Aciklama" id="tbAciklama">

                            </textarea>
                        </div>
                        <div class="form-group alert alert-warning" role="alert">
                            Randevu gün ve saati için eğitim koordinatörümüz sizi arayacak ve birlikte uygun gün ve saat belirlenecektir.
                        </div>
                    </div>
                </form>


               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnKaydet" onclick="RandevuKaydet();">Kaydet</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btnKapat">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="~/img/about-img.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Hakkımızda</div>
                <h1 class="mb-4">Geleceğin Teknoloji Liderlerini Yetiştiriyoruz</h1>
                <p class="mb-4">
                    Biz, 4-7 yaş arası çocuklara özel olarak tasarlanmış eğlenceli ve öğretici robotik kodlama programları sunuyoruz. Amacımız, çocukların erken yaşta teknolojiyi anlamalarını sağlamak, yaratıcı düşünmelerini desteklemek ve problem çözme yeteneklerini geliştirmektir. Eğitimlerimiz, çocukların yaş ve gelişim düzeylerine uygun olarak oyun temelli bir yaklaşımla hazırlanmıştır.
                    Velilerimiz için ise çocuklarının dijital dünyaya güvenle adım atmasını sağlayan bir rehber olmayı hedefliyoruz. Eğitimlerimizde şeffaflık, güven ve çocuklarınızın gelişimi için özveri temel prensiplerimizdir.
                </p>

                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Yaş Gruplarına Özel Eğitim</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Oyun Tabanlı Öğrenme</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Yapay Zeka Destekli Robotlar</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Güvenli ve Eğitici Ortam</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Teknoloji ve Yaratıcılık</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Problem Çözme Becerileri</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Velilerle Şeffaf İletişim</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-4">
                  
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-fluid bg-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-4">Hizmetlerimiz</h1>
                <p class="mb-4">
                    Hizmetlerimiz, 4-7 yaş arası çocuklara özel olarak hazırlanmış eğlenceli ve öğretici robotik kodlama programlarını içermektedir. Oyun temelli eğitimler, yaratıcılık, problem çözme ve teknoloji becerileriyle çocukların gelişimini desteklerken, velilere şeffaf ve güvenilir bir deneyim sunuyoruz.
                </p>
             
            </div>
            <div class="col-lg-7">
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-robot fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Robotic Automation</h5>
                                    <p>
                                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                                        diam sed stet lorem.
                                    </p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-power-off fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Machine learning</h5>
                                    <p>
                                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                                        diam sed stet lorem.
                                    </p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-md-4">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-graduation-cap fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Education & Science</h5>
                                    <p>
                                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                                        diam sed stet lorem.
                                    </p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                    <div class="service-icon btn-square">
                                        <i class="fa fa-brain fa-2x"></i>
                                    </div>
                                    <h5 class="mb-3">Predictive Analysis</h5>
                                    <p>
                                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                                        diam sed stet lorem.
                                    </p>
                                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Feature Start -->
<div class="container-fluid bg-primary feature pt-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Why Choose Us</div>
                <h1 class="text-white mb-4">We're Best in AI Industry with 10 Years of Experience</h1>
                <p class="text-light mb-4">
                    Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed
                    stet no labore lorem sit. Sanctus clita duo justo et tempor
                </p>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Diam dolor diam ipsum et tempor sit</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Diam dolor diam ipsum et tempor sit</span>
                </div>
                <div class="d-flex align-items-center text-white mb-3">
                    <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                        <i class="fa fa-check"></i>
                    </div>
                    <span>Diam dolor diam ipsum et tempor sit</span>
                </div>
                <div class="row g-4 pt-3">
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-users fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                <p class="text-white mb-0">Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                            <i class="fa fa-check fa-3x text-white"></i>
                            <div class="ms-3">
                                <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                <p class="text-white mb-0">Project Complete</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid" src="img/feature.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Case Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="mb-4">Kodlama Dünyasından Haberler</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="img/project-1.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Robotic Automation</small>
                        <h5 class="lh-base text-white mb-3">
                            Lorem elitr magna stet eirmod labore amet labore clita
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="img/project-2.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Machine learning</small>
                        <h5 class="lh-base text-white mb-3">
                            Lorem elitr magna stet eirmod labore amet labore clita
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="img/project-3.jpg" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Predictive Analysis</small>
                        <h5 class="lh-base text-white mb-3">
                            Lorem elitr magna stet eirmod labore amet labore clita
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case End -->
<!-- FAQs Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">

            <h1 class="mb-4">Sıkça Sorulan Sorular</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ1">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Robotik kodlama nedir?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Robotik kodlama, robotların tasarlanması, programlanması ve kontrol edilmesini öğrenmeyi içeren bir alandır. Bu süreçsıkçate robotlar, sensörler, motorlar ve çeşitli elektronik bileşenlerle çalışılır. Robotik kodlama, algoritmik düşünme, problem çözme ve yaratıcılığı geliştiren bir eğitim sunar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Robotik kodlama eğitimi hangi yaş gruplarına uygundur?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Eğitimlerimiz, 4 yaşından itibaren tüm yaş gruplarına uygundur. Okul öncesi için temel seviyede, lise ve yetişkinler için daha karmaşık projeler içeren programlar sunmaktayız. Her yaş grubu için özel içerikler hazırlıyoruz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Robotik kodlama öğrenmek için hangi ön bilgiye ihtiyaç vardır?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Hiçbir ön bilgiye sahip olmasanız bile eğitimlerimize katılabilirsiniz. Başlangıç seviyesinde temel kavramlarla başlıyoruz. İleri seviye eğitimlerde, temel bilgisayar bilgisi ve programlama mantığına sahip olmanız yeterlidir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Robotik kodlama neden önemlidir?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Robotik kodlama, geleceğin teknolojisiyle tanışmanızı sağlar. Çocuklar ve yetişkinler için analitik düşünme, problem çözme ve yaratıcılık gibi becerilerin gelişmesine katkıda bulunur. Ayrıca, teknoloji çağında kariyer fırsatları yaratır ve kişisel gelişime büyük destek olur.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Ücretsiz deneme dersi mevcut mu?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Evet, kararınızı daha rahat verebilmeniz için ücretsiz deneme dersleri düzenliyoruz. Bu derslerde eğitimlerimizin formatını ve içeriğini deneyimleyebilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ2">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Eğitimler online mı yoksa yüz yüze mi yapılmaktadır?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimiz, hem online hem de yüz yüze seçeneklerle sunulmaktadır. Katılımcılar, kendi ihtiyaçlarına uygun formatı seçebilirler. Online eğitimlerimiz interaktif platformlarda gerçekleştirilir ve yüz yüze eğitimlerimiz uzman  eşliğinde birebir yapılır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Robotik kodlama öğrenmeye başlamak için uygun seviyede miyim?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimiz başlangıç, orta ve ileri seviyelerde sunulmaktadır. Hiç deneyiminiz yoksa başlangıç seviyesinden başlayabilir, daha önce temel bilgileriniz varsa orta ve ileri seviyelerde devam edebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Çocuklar için robotik kodlama eğitimi nasıl oluyor?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Çocuklar için hazırladığımız eğitimlerde oyunlaştırılmış öğrenme yöntemlerini ,yaşlarına uygun robot ve uygulamaları uygun kullanıyoruz. Renkli ve eğlenceli projelerle çocukların dikkatini çekerken, onları yaratıcı düşünmeye teşvik ediyoruz. Çocuklar, öğrenirken aynı zamanda eğleniyor ve teknolojiyi seviyorlar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Eğitimlerde kullanılan robot setleri nelerdir?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimizde Süper Doc Robot , Bee Bot ,Tale Bot, Mbot, Lego Spike Essential,Lego Spike Prime gibi popular setleri kullanıyoruz. Kullanılan setler, katılımcıların yaş gruplarına ve öğrenme hedeflerine göre belirlenmektedir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Eğitim ücretleri nedir ve ödeme seçenekleri var mı?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitim ücretlerimiz, programın süresine ve içeriğine bağlı olarak değişmektedir. Erken kayıt indirimleri ve detaylı bilgi için bizimle iletişime geçebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Grup veya aile indirimleri sunuyor musunuz?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Evet, grup kayıtlarında veya aynı aileden birden fazla kişi katıldığında özel indirimler sunuyoruz. Daha fazla bilgi için iletişim sayfamızdan bize ulaşabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs Start -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
               
                <h1 class="mb-4">Ebeveynlerimizin Görüşleri</h1>
                <p class="mb-4">
                    Ebeveynlerimizin görüşleri, eğitim kalitemizi geliştirmek ve çocuklarımızın daha iyi bir öğrenim deneyimi yaşamasını sağlamak için bizim için çok değerlidir. Sizlerden gelen her geri bildirim, hem programlarımızı geliştirme hem de çocuklarımıza daha keyifli ve etkili bir öğrenme ortamı sunma yolunda bizlere rehberlik etmektedir. Birlikte, onların geleceğini şekillendirebiliriz.
                </p>
             
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel border-start border-primary">
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">
                            Ayşe hanımdan aldığımız robotik kodlama eğitimi sayesinde çocuğum teknolojiye daha bilinçli bir şekilde yaklaşmayı öğrendi. Artık teknolojiyi daha verimli ve yaratıcı bir şekilde kullanıyor.
                        </p>
                        <div class="d-flex align-items-center">
                          @*   <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg"
                                 style="width: 60px; height: 60px;"> *@
                            <div class="ps-3">
                                <h5 class="mb-1">Mehmet Arslan</h5>
                               @*  <span>Doktor</span> *@
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Çocuğumuz ilk başta robotik kodlamaya biraz çekinerek yaklaşmıştı. Ancak Ayşe Hanım’ın pozitif enerjisi ve teşvik edici yaklaşımı sayesinde artık kendi projelerini gururla anlatıyor.</p>
                        <div class="d-flex align-items-center">
                            @* <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg"
                                 style="width: 60px; height: 60px;"> *@
                            <div class="ps-3">
                                <h5 class="mb-1">Cemre Şahin </h5>
                                @* <span>Profession</span> *@
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Ayşe Hanım’ın çocuklarla kurduğu bağ çok özel. Çocuğumuz derslerden sadece teknik bilgi değil, aynı zamanda takım çalışması ve paylaşma gibi değerler de öğreniyor. Kendisine minnettarız.</p>
                        <div class="d-flex align-items-center">
                            @* <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                                 style="width: 60px; height: 60px;"> *@
                            <div class="ps-3">
                                <h5 class="mb-1">Arlo Driscoll</h5>
@*                                 <span>Profession</span> *@
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">5 yaşındaki oğlumun ilgisini çekmek ve birşeyler öğrenmesini eğlenceli hale getirmek gerçekten zor bir iş. Ayşe Hanım, her çocuğa bireysel ilgi göstererek onların güçlü yönlerini ortaya çıkarıyor. Onun sabrı ve güler yüzlü yaklaşımı sayesinde çocuğumuz derslere keyifle katılıyor.</p>
                        <div class="d-flex align-items-center">
                            @* <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                                 style="width: 60px; height: 60px;"> *@
                            <div class="ps-3">
                                <h5 class="mb-1">Zeynep Kaya</h5>
                               @*  <span>Profession</span> *@
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Robotik kodlama derslerinde Ayşe Hanım’ın çocuklara olan şefkatli ve sıcak yaklaşımı bizi çok etkiledi. Çocuğumuz, kendini rahat hissederek özgürce fikirlerini paylaşabiliyor ve hata yapmaktan korkmuyor.</p>
                        <div class="d-flex align-items-center">
                           @*  <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                                 style="width: 60px; height: 60px;"> *@
                            <div class="ps-3">
                                <h5 class="mb-1">Yusuf Çelik</h5>
                              @*   <span>Profession</span> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Newsletter Start -->
<div class="container-fluid bg-primary newsletter py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-5 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
                <img class="img-fluid" src="img/newsletter.png" alt="">
            </div>
            <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Haberler</div>
                <h1 class="text-white mb-4">Bültene abone ol</h1>
                <div class="position-relative w-100 mt-3 mb-2">
                    <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                           placeholder="Email Adresiniz" style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2">
                        <i class="fa fa-paper-plane text-primary fs-4"></i>
                    </button>
                </div>
                <small class="text-white-50">Belirli aralıklarla güncel konularla ilgili sizleri bilgilendireceğiz</small>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->
@section Scripts {
    <script>

        $(document).ready(function () {
           
        });
        function RandevuKaydet() {

            

        }

    </script>
}