<style type="text/css">

    .span-hizmet{
        text-align: left;
        margin-top:10px;
        
    }

    .hizmet-row{
        margin-bottom : 20px;
    }

    .hizmet-row2 {
        margin-bottom: 50px;
        border-radius:5px;
        background-color:white;
        padding-top:10px;

    }

    .service-item {
        height:531px;
    }

</style>



<!-- Service Start -->
<div class="container-fluid bg-light">
    
    <div class="container py-5">

        <div class="row g-4 align-items-center hizmet-row2">

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column justify-content-center text-center rounded">

                        <h1>Hizmetlerimiz</h1>
                        <p>
                            Hizmetlerimiz, 4-7 yaş arası çocuklara özel olarak hazırlanmış eğlenceli ve öğretici robotik kodlama programlarını içermektedir. 
                            <br />Oyun temelli eğitimler, yaratıcılık, problem çözme ve teknoloji becerileriyle çocukların gelişimini desteklerken, velilere şeffaf ve güvenilir bir deneyim sunuyoruz.
                        </p>

                    </div>

                </div>
            
            </div>

          
        </div>

        <br />
       
        <div class="row g-5 align-items-center">

            <div class="row hizmet-row">
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Eğitim Kurumlarına Özel Programlar</h5>

                        <p class="span-hizmet">Anaokulları ve ilkokullar için özel müfredatlar hazırlıyor, ihtiyaca özel robotik kodlama ve STEM eğitimleri sunuyoruz.</p>
                        <p class="span-hizmet">Okul müfredatına entegre STEM ve kodlama eğitimleri</p>
                        <p class="span-hizmet">Eğitim kurumları için özelleştirilmiş robotik atölyeler</p>
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-graduation-cap fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Birebir Özel Ders ve Grup Dersleri</h5>

                        <p class="span-hizmet">Çocuğunuzun öğrenme hızına uygun birebir özel dersler veya arkadaşlarıyla eğlenceli grup dersleri seçeneklerimizle kodlama eğitimini daha keyifli hale getiriyoruz.</p>
                       
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-power-off fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Online ve Yüz Yüze Eğitimler</h5>

                        <p class="span-hizmet">Dilerseniz online, dilerseniz yüz yüze eğitimlerimizle çocuklarınıza kaliteli ve erişilebilir bir öğrenme deneyimi sunuyoruz.</p>
                       
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-brain fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Robotik Kodlama Atölyeleri</h5>

                        <p class="span-hizmet">4-7 yaş arası çocuklar için eğlenceli ve interaktif atölyeler düzenliyoruz. Çocuklar algoritmik düşünme, problem çözme ve takım çalışması becerilerini geliştirirken, eğlenerek öğreniyorlar.</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
            </div>

            <div class="row hizmet-row">
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Okul Öncesi STEM Eğitimleri</h5>

                        <p class="span-hizmet">Bilim, teknoloji, mühendislik ve matematik (STEM) temelli eğitim programlarımız sayesinde çocuklar, erken yaşta eleştirel düşünme ve yaratıcı problem çözme becerileri kazanıyorlar.</p>
                 
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-graduation-cap fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Tale Bot ile Kodlama Eğitimi</h5>

                        <p class="span-hizmet">Yönlendirme komutları ile temel kodlama mantığını öğrenme</p>
                        <p class="span-hizmet">Görev tamamlama oyunları ile problem çözme becerileri kazanma</p>
                       
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-power-off fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Süper Doc Robot ile Temel Kodlama Eğitimi</h5>

                        <p class="span-hizmet">1 adım, 2 adım, 3 adım gibi hareket komutlarını öğrenme</p>
                        <p class="span-hizmet">Yön kavramlarını (sağ, sol, ileri, geri) anlama</p>
                        <p class="span-hizmet">Görsel ve fiziksel olarak kodlamayı deneyimleme</p>
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-brain fa-2x"></i>
                        </div>
                        <h5 class="mb-3">LEGO Essential, SPIKE ve Prime ile Robotik Kodlama</h5>

                        <p class="span-hizmet"><b>LEGO Essential (4-7 yaş):</b> Basit makineler ve görsel kodlama</p>
                        <p class="span-hizmet"><b>LEGO SPIKE (7-12 yaş):</b> Sensörler, motorlar ve Scratch/Python tabanlı kodlama</p>
                        <p class="span-hizmet"><b>LEGO Prime (12+ yaş):</b> Python ile ileri robotik ve yapay zeka uygulamaları</p>
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
            </div>

            <div class="row hizmet-row">
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-robot fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Scratch ile Oyun ve Animasyon Kodlama</h5>

                        <p class="span-hizmet">Oyun tasarlama ve temel algoritma geliştirme</p>
                        <p class="span-hizmet">Karakter hareketleri ve animasyonlar oluşturma</p>
                        <p class="span-hizmet">Ses, görseller ve interaktif öğeler ekleyerek projeler geliştirme</p>
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-graduation-cap fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Eğitim Kurumlarına  Yönelik Dijital Okuryazarlık Eğitim ve Seminerleri</h5>

                        <p class="span-hizmet">Dijital çağda güvenli ve bilinçli bireyler yetiştirmek için özel eğitimlerimizle çocukları ve ebeveynleri bilinçlendiriyoruz.</p>
                        <p class="span-hizmet">Güvenli internet kullanımı: Çocukların ve ebeveynlerin dijital tehditlerden korunması</p>
                        <p class="span-hizmet">Sosyal medyanın etkileri:Çocukların dijital dünyada sağlıklı kararlar almasını sağlamak</p>
                        
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-power-off fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Eğitim Kurumlarına  Yönelik Dijital Okuryazarlık Eğitim ve Seminerleri</h5>

                        <p class="span-hizmet">Siber zorbalık farkındalığı: Çocukları korumak ve ebeveynlerin bilinçli hareket etmesini sağlamak</p>
                        <p class="span-hizmet">Ebeveynlere özel rehberlik: Çocukların dijital dünyaya güvenli adım atmaları için ipuçları</p>

                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon btn-square">
                            <i class="fa fa-brain fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Yazılım Geliştirme Eğitimleri</h5>

                        <p class="span-hizmet">Python Eğitimleri</p>
                        <p class="span-hizmet">C# Eğitimleri</p>
                        <p class="span-hizmet">MS SQL ve PostgreSQL Eğitimleri</p>
                        <p class="span-hizmet">Web ve Mobil Uygulama Eğitimleri</p>
                        @*  <a class="btn px-3 mt-auto mx-auto" href="">Read More</a> *@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->