<!-- FAQs Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">

            <h1 class="mb-4">Sıkça Sorulan Sorular</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ1">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Robotik kodlama nedir?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Robotik kodlama, robotların tasarlanması, programlanması ve kontrol edilmesini öğrenmeyi içeren bir alandır. Bu süreçsıkçate robotlar, sensörler, motorlar ve çeşitli elektronik bileşenlerle çalışılır. Robotik kodlama, algoritmik düşünme, problem çözme ve yaratıcılığı geliştiren bir eğitim sunar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Robotik kodlama eğitimi hangi yaş gruplarına uygundur?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Eğitimlerimiz, 4 yaşından itibaren tüm yaş gruplarına uygundur. Okul öncesi için temel seviyede, lise ve yetişkinler için daha karmaşık projeler içeren programlar sunmaktayız. Her yaş grubu için özel içerikler hazırlıyoruz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Robotik kodlama öğrenmek için hangi ön bilgiye ihtiyaç vardır?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Hiçbir ön bilgiye sahip olmasanız bile eğitimlerimize katılabilirsiniz. Başlangıç seviyesinde temel kavramlarla başlıyoruz. İleri seviye eğitimlerde, temel bilgisayar bilgisi ve programlama mantığına sahip olmanız yeterlidir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Robotik kodlama neden önemlidir?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Robotik kodlama, geleceğin teknolojisiyle tanışmanızı sağlar. Çocuklar ve yetişkinler için analitik düşünme, problem çözme ve yaratıcılık gibi becerilerin gelişmesine katkıda bulunur. Ayrıca, teknoloji çağında kariyer fırsatları yaratır ve kişisel gelişime büyük destek olur.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Ücretsiz deneme dersi mevcut mu?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Evet, kararınızı daha rahat verebilmeniz için ücretsiz deneme dersleri düzenliyoruz. Bu derslerde eğitimlerimizin formatını ve içeriğini deneyimleyebilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ2">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Eğitimler online mı yoksa yüz yüze mi yapılmaktadır?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimiz, hem online hem de yüz yüze seçeneklerle sunulmaktadır. Katılımcılar, kendi ihtiyaçlarına uygun formatı seçebilirler. Online eğitimlerimiz interaktif platformlarda gerçekleştirilir ve yüz yüze eğitimlerimiz uzman  eşliğinde birebir yapılır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Robotik kodlama öğrenmeye başlamak için uygun seviyede miyim?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimiz başlangıç, orta ve ileri seviyelerde sunulmaktadır. Hiç deneyiminiz yoksa başlangıç seviyesinden başlayabilir, daha önce temel bilgileriniz varsa orta ve ileri seviyelerde devam edebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Çocuklar için robotik kodlama eğitimi nasıl oluyor?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Çocuklar için hazırladığımız eğitimlerde oyunlaştırılmış öğrenme yöntemlerini ,yaşlarına uygun robot ve uygulamaları uygun kullanıyoruz. Renkli ve eğlenceli projelerle çocukların dikkatini çekerken, onları yaratıcı düşünmeye teşvik ediyoruz. Çocuklar, öğrenirken aynı zamanda eğleniyor ve teknolojiyi seviyorlar.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Eğitimlerde kullanılan robot setleri nelerdir?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitimlerimizde Süper Doc Robot , Bee Bot ,Tale Bot, Mbot, Lego Spike Essential,Lego Spike Prime gibi popular setleri kullanıyoruz. Kullanılan setler, katılımcıların yaş gruplarına ve öğrenme hedeflerine göre belirlenmektedir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Eğitim ücretleri nedir ve ödeme seçenekleri var mı?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Eğitim ücretlerimiz, programın süresine ve içeriğine bağlı olarak değişmektedir. Erken kayıt indirimleri ve detaylı bilgi için bizimle iletişime geçebilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Grup veya aile indirimleri sunuyor musunuz?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Evet, grup kayıtlarında veya aynı aileden birden fazla kişi katıldığında özel indirimler sunuyoruz. Daha fazla bilgi için iletişim sayfamızdan bize ulaşabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs Start -->